<div class="modal" tabindex="-1" role="dialog" id="mEditarCategoria">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">Editar Categoria</h4>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<!-- <form (ngSubmit)="onActualizar(formNew)" #formNew="ngForm">
					<div class="form-group">
						<small>Categoria</small><br>
						<div class="input-group">
							<input type="text" class="form-control" name="nombre" id="nombre" [(ngModel)]="categoria.nombre" #name="ngModel">
						</div>
					</div>
					<div class="form-group">
						<small>Categoria</small><br>
						<div class="input-group">
							<img src="{{ icate.preview }}" width="30" height="30" class="rounded"><br>
						    <input type="file" name="preview" id="preview" [(ngModel)]="categoria.preview" #preview="ngModel">
						</div>
					</div>	
					<button  type="submit" class="btn btn-primary btn-block btn-sm">
						<i class="fa fa-plus"></i> 
						Guardar Categoria
					</button>
				</form> -->
			</div>
		</div>
	</div>
</div>