
<div class="middle-box text-center loginscreen animated fadeInDown">
    <div>
        <div>
            <h1 class="logo-name">
                <i class="fa fa-cubes" aria-hidden="true"></i>
            </h1>
        </div>
        <h3>Soft Disco Bar</h3>
        <form class="m-t" role="form" action="index.html">
            <div class="form-group">
                <input type="email" class="form-control" placeholder="Username" required="">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" placeholder="Password" required="">
            </div>
            <button type="submit" class="btn btn-primary block full-width m-b">
                Iniciar Sesión
            </button>
            <a class="btn btn-sm btn-white" routerLink="/registro">Registrarse</a>
        </form>
        <p class="m-t"> <small>&copy; Derechos reservados, 2019</small> </p>
    </div>
</div>